@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

:root {
    --fonte02: 'Comfortaa', cursive;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .conteudo-primario-endereco {
        font-size: 15px;
        transition: 0.2s;
    }
    
    .conteudo-primario-titulo {
        font-size: 26px;
        transition: 0.2s;
    }
}

@media screen and (min-width: 992px) {
    
    .logo {
        width: 100vw;
        justify-content: space-around;
        
    }

    #burguer {
        display: none;
    }

    .itens-query {
        display: flex;   
        gap: 40px;
        padding-top: 30px; 
        font-family: var(--fonte02);  
    }

    nav > a {
        color: white;
        
    }

/* conteudo do main */


    .conteudo-primario-titulo {
        font-size: 30px;
        transition: 0.2s;
    }
    
    .conteudo-primario-endereco {
        font-size: 19px;
        transition: 0.2s;
    }


}
