@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,900;1,900&display=swap');

:root {
   --fonte01: 'Quicksand', sans-serif;
   --fonte02: 'Comfortaa', cursive;
   --fonte03: 'Rubik', sans-serif;
}

* {
   margin: 0px;
   padding: 0px;
   text-decoration: none;
}

.logo {
   background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(77, 76, 74));
   text-align: center;
}

#burguer {
   display: block;
   background-color: rgba(36, 36, 36, 0.363);
   color: white;
   text-align: center;
   padding: 10px;
   cursor: pointer;
   border-radius: 0px 0px 10px 10px;
}

#burguer:hover {
   background-color: rgb(172, 102, 37, 0.562);
}

nav {
   display: none;
}

nav > a {
   display: block;
   padding: 5px;
   background-color: rgba(63, 62, 62, 0.705);
   color: white;
   font-family: var(--fonte02);
   text-align: center;
   border-top: 1px solid rgb(26, 25, 25);
   text-shadow: 2px 2px 1px black;
}

nav > a:hover {
   background-color: rgba(201, 112, 29, 0.562)
}

main {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%);
   color: white;
   text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.637);
   font-family: var(--fonte01);
}

body {
   background-image: url(../imagens/background.jpg);
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
}

.conteudo-secundario {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.secundario-primeiro:hover {
   background-color: rgba(201, 112, 29, 0.342);
   transform: translate(-1px, -1px);
   transition: transform .2s;
}

.secundario-segundo:hover {
   background-color: rgba(201, 112, 29, 0.342);
   transform: translate(-1px, -1px);
   transition: transform .2s;
}

.secundario-primeiro {
   border: 1px solid white;
   padding: 15px;
   background-color: rgba(128, 128, 128, 0.219);
   margin-top: 30px;
   border-radius: 4px;
   text-shadow: 2px 2px 2px black;
}


.secundario-segundo {
   border: 1px solid white;
   padding: 15px;
   background-color: rgba(128, 128, 128, 0.219);
   margin-top: 30px;
   border-radius: 4px;
   text-shadow: 2px 2px 2px black;
}

.conteudo-primario {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}

.conteudo-primario-titulo {
   font-size: 20px;
   font-family: var(--fonte03);
}

.conteudo-primario-endereco {
   border-top: 0.4px solid rgba(255, 255, 255, 0.527);
   font-size: 10px;
   padding: 15px;
   text-shadow: 2px 2px 2px black;   
}








