@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root {
    --fonte01: 'Quicksand', sans-serif;
    --fonte02: 'Comfortaa', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    height: 100vh;
    background-color: black;
    background-image: url('../imagens/paisagem.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    background-color: black;
 }

 .cabecalho-menu {
    display: flex;
    gap: 40px;
 }

 .cabecalho-menu-item {
    font-family: var(--fonte01);
    color: white;
    font-weight: 400px;
    font-size: 18px;
 }

 .conteudo {
    text-align: center;
    padding-top: 280px;
    text-shadow: 2px 2px 2px black;
    color: white;
    font-family: var(--fonte01);
    
 }



